.logo {
  height: 15vmin;
  pointer-events: none;
}

.mono {
  font-family: monospace, monospace;
}

.bold {
  font-weight: bold;
}

header {
  margin-top: 10vmin;
}

header,
h1,
h2,
h3 {
  text-align: center;
}

.content {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.containerInline h2,
.containerInline p{
  display: inline;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.buttons {
  border-radius:'4px'; font-size:'20px'; background-color:'#ccffcc'
}

.buttons::placeholder{
  color: rgb(214, 214, 214);
}

.buttons:hover:focus{
  outline: 1px solid white;
  border-color:  rgb(225, 30, 90);
  color: rgb(225, 30, 90);
}